<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">
    {% if custom_css %}
    <style>
        {{ custom_css }}
    </style>
    {% endif %}
</head>
<body class="">
    <div id="app-container">
        <aside id="sidebar-container"></aside>
        <div id="content-wrapper">
            <header id="topbar-container"></header>
            <main id="main-content">
                <div class="content-body text-base">
                    {{ body_content }}
                </div>
            </main>
        </div>
    </div>

    <script id="app-data" type="application/json">
        {{ metadata_json }}
    </script>
    <script src="./static/js/script.js"></script>
</body>
</html>